@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 8px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

a {
  color: #421ca8;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}